.book-search
  input
    padding 20px
    width 100%
    background #eee
    border none
    color #000
    // border-radius 30px
    box-shadow 2px 2px 0px #ddd
    &:focus
      outline none
      border none
