.navbar
  padding 20px 40px
  margin-bottom 20px
  border-radius 0
  background rgb(80, 110, 195)
  .navbar-brand
    color white
  .nav-link
    color white
    text-transform uppercase
    letter-spacing 0.08em
    font-size 14px
