*
  box-sizing border-box

html, body
  margin 0
  padding 0
  height 100%
  width 100%
  overflow-x hidden

.main
  min-height 100%

.book
  width 23%
  height 300px
  float left
  background #f3f3f3
  box-shadow 2px 2px 0 #eee
  margin 1%
  cursor pointer
  padding 10px
  img
    display block
    width auto
    max-width 100%
    height 200px
    margin 0 auto
    padding-bottom 10px

.navbar-nav
  float right
